<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/001d6db7-095c-4772-8fde-29baebfdbf94/resourceGroups/dahliaunifieddataservice/providers/Microsoft.Web/sites/dahliaunifieddataservice</ResourceId>
    <ResourceGroup>dahliaunifieddataservice</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://dahliaunifieddataservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f4df174b-3811-4a0d-9fa9-2cf0073f1fa1</ProjectGuid>
    <PublishUrl>https://dahliaunifieddataservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$dahliaunifieddataservice</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>